*{
  box-sizing: border-box;
}

body {
  background-color: #274471;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 400px;
  margin: 30px auto;  
  /* check the above later */
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  margin: 30px 30px;
}

#contactForm {
  padding: 25px;
}

input {
  width: 100%;
  padding: 10px 16px 10px 16px;
  margin: 8px 8px;
  border-radius: 5px;
  border: none;
}

input:hover {
  background-color: #52cbf0;
}

#submitButton {
  background-color: #1ac0f3;
  padding: 14px 20px 14px 20px;
  cursor: pointer;
}

#textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  margin: 8px 5px;
}